.location{
    margin-block-end: 150px;
}

.location__title{
    color: var(--black, #080808);
    font-family: StratosSkyeng Web;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-block-end: 150px;
}

.location__title span {
    color: var(--blue, #00C1FF);
}

.prive__box{
    max-width: 640px;
}

.box__image{
    margin-block-end: 40px;
}


.flex__group{
    display: flex;
    justify-content: space-between;
}